body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #1a331d;
  color: #f0f5ef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #144122;
  padding: 1rem 2rem;
  color: #b0ff95;
  font-weight: bold;
  font-size: 1.5rem;
}

.search-container {
  text-align: center;
  padding: 60px 20px;
}

h2 {
  color: #b0ff95;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

#suggestions {
  list-style: none;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  background: #2e4930;
  border-radius: 10px;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

#suggestions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #446b45;
}

#suggestions li:hover {
  background-color: #3c6e42;
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #a5e75f;
  border: none;
  border-radius: 10px;
  color: #144122;
  font-weight: bold;
  cursor: pointer;
}
